<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}{% endblock %} - IPSOCG</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.0.custom.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/cgrn.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">
{% endcompress %}
<script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	
	{% load banner %}
	{% banner %}
	
	<div class="header-container">
		<header class="wrapper clearfix">
			<div class="logo"><a href="{% url index %}">CGRN – International Pilot Survey of Childhood Glaucoma (IPSOCG)</a></div>
			<nav>
				<ul class="clearfix">
					{% block nav-index %}<li><a href="{% url index %}">Home</a></li>{% endblock %}
					{% block nav-about %}<!-- <li><a href="{% url about %}">About</a></li> -->{% endblock %}
					{% block nav-contact %}<li><a href="{% url contact %}">Contact</a></li>{% endblock %}
					{% if user.is_authenticated %}
					{% block nav-list %}<li><a href="{% url list %}"><strong>Manage</strong> Datasets</a></li>{% endblock %}
					{% block nav-create %}<li><a href="{% url create %}"><strong>Create</strong> Dataset</a></li>{% endblock %}
					{% if user.is_staff %}
					<li><a href="/admin/">Admin</a></li>
					{% endif %}
					{% block nav-help %}<li class="highlight"><a href="{% url help %}"><strong>Help</strong></a></li>{% endblock %}
					{% endif %}
				</ul>
			</nav>
			<div class="user">
					{% if user.is_authenticated %}
					Logged in as <strong><a href="{% url profile_detail %}">{{ user.username }}</a></strong>
					(<a href="{% url accounts_logout %}">Log Out</a>)
					{% else %}
					<a href="{% url accounts_login %}?next=/anonymeyes/">Log In</a>
					{% endif %}
			</div>
		</header>
	</div>
	
	<div class="main-container">
		<div class="main wrapper clearfix">
				{% block content %}{% endblock %}
		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->

	<div class="footer-container">
		<footer class="wrapper">
			<h3>&copy; 2013, The OpenEyes Foundation</h3>
			<p>All Rights Reserved.</p>
		</footer>
	</div>

	{% compress js %}
	<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.hoverIntent.minified.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.dataTables.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/jquery.autosize-min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/waypoints.min.js"></script>
	<script src="{{ STATIC_URL }}js/vendor/waypoints-sticky.min.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	{% endcompress %}
	
	{% block body-end %}{% endblock %}
</body>
</html>
