{% extends "base.html" %}
{% block nav-create %}
<li{% if not patient.uuid %} class="active"{% endif %}><a href="{% url create %}"><strong>Create</strong> Dataset</a></li>
{% endblock %}
{% block title %}{% if patient.uuid %}Update Dataset {{ patient.uuid }}{% else %}Create Dataset{% endif %}{% endblock %}
{% block content %}
	<h1>{% if patient.uuid %}
	Update Dataset
	{% else %}
	Create Dataset
	{% endif %}
	</h1>
	<form action="" method="post">
		{% csrf_token %}
		<div class="actions clearfix">
			<ul>
				<li><input type="submit" value="Save" /></li>
				<li><a href="{% if patient.uuid %}{% url detail patient.id %}{% else %}{% url list %}{% endif %}">Cancel</a></li>
			</ul>
		</div>
		<p>Please note that required fields are denoted by an *</p>
		<fieldset>
			<legend>Patient</legend>
			<ul>
				{% if patient.uuid %}
				<li>
					<div class="label">
						<span class="help"><span><strong>U</strong>niversally <strong>U</strong>nique <strong>ID</strong>entifier for this dataset. When
						printed and kept with patient notes, it allows the dataset to be
						matched up if followup data is entered.</span></span>
						UUID:
					</div>
					<div class="data read-only">{{ patient.uuid }}</div>
				</li>
				{% endif %}
 				{% for field in form %}
				<li{% if field.errors %} class="error"{% endif %}>
					<label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}><span>{{ field.label }}</span>:</label>
					{{ field }} <span>{{ field.errors }}</span>
				</li>
				{% endfor %}
			</ul>
		</fieldset>
		<fieldset>
			<legend>Baseline Assessment</legend>
			<ul>
 				{% for field in baseline_form %}
				<li{% if field.errors %} class="error"{% endif %}>
					<label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}><span>{{ field.label }}</span>:</label>
					{{ field }} <span>{{ field.errors }}</span>
				</li>
				{% endfor %}
			</ul>
		</fieldset>
		{% for formset_name, formset in formsets.items %}
		<fieldset>
			<legend>{{ formset_name }}</legend>
			{{ formset.management_form }}
			<table class="inline_form">
				<thead>
					<tr>
						{% with "anonymeyes/patient_form_"|add:formset_name|add:"_head.html"|lower as template %}
						{% include template %}
						{% endwith %}
					</tr>
				</thead>
				<tbody>
					{% for inlineform in formset %}
					<tr>
						{% with "anonymeyes/patient_form_"|add:formset_name|add:".html"|lower as template %}
						{% include template %}
						{% endwith %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>
		{% endfor %}
		<div class="actions clearfix">
			<ul>
				<li><input type="submit" value="Save" /></li>
				<li><a href="{% if patient.uuid %}{% url detail patient.id %}{% else %}{% url list %}{% endif %}">Cancel</a></li>
			</ul>
		</div>
	</form>
{% endblock %}
