<td class="outcome_date">
	{{ inlineform.date }}
	<span>{{ inlineform.date.errors }}</span>
</td>
<td class="outcome_eye">
	{{ inlineform.eye }}
	<span>{{ inlineform.eye.errors }}</span>
</td>
<td class="outcome_iop_detail">
	{{ inlineform.iop_control }}
	<span>{{ inlineform.iop_control.errors }}</span>
</td>
<td class="outcome_visual_acuity_method">
	{{ inlineform.visual_acuity_method }}
	<span>{{ inlineform.visual_acuity_method.errors }}</span>
</td>
<td class="outcome_visual_acuity_right">
	{{ inlineform.visual_acuity_right }}
	{{ inlineform.visual_acuity_correction_right }}
	<span>{{ inlineform.visual_acuity_right.errors }}{{ inlineform.visual_acuity_correction.right.errors }}</span>
</td>
<td class="outcome_visual_acuity_left">
	{{ inlineform.visual_acuity_left }}
	{{ inlineform.visual_acuity_correction_left }}
	<span>{{ inlineform.visual_acuity_left.errors }}{{ inlineform.visual_acuity_correction_left.errors }}</span>
</td>
<td class="outcome_visual_acuity_both">
	{{ inlineform.visual_acuity_both }}
	{{ inlineform.visual_acuity_correction_both }}
	<span>{{ inlineform.visual_acuity_both.errors }}{{ inlineform.visual_acuity_correction_both.errors }}</span>
	{% for hidden in inlineform.hidden_fields %}{{ hidden }}{% endfor %}
</td>
{% if formset.can_delete %}
<td class="outcome_delete">
	{{ inlineform.DELETE }}
	<span>{{ inlineform.DELETE.errors }}</span>
</td>
{% endif %}
