{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block content %}
		<h1>{% if patient.uuid %}
		Update Dataset
		{% else %}
		New Dataset
		{% endif %}
		</h1>
	<form action="" method="post">
		{% csrf_token %}
		<div class="actions clearfix">
			<ul>
				<li><input type="submit" value="Save" /></li>
				<li><a href="{% if patient.uuid %}{% url detail patient.id %}{% else %}{% url list %}{% endif %}">Cancel</a></li>
			</ul>
		</div>
		<fieldset>
			<legend>Main</legend>
			<ul>
				{% if patient.uuid %}
				<li>
					<div class="label">UUID:</div>
					<div class="data read-only">{{ patient.uuid }}</div>
				</li>
				{% endif %}
 				{% for field in form %}
				<li{% if field.errors %} class="error"{% endif %}>
					<label for="{{ field.auto_id }}"{% if field.field.required %} class="required"{% endif %}><span>{{ field.label }}</span>:</label>
					{{ field }} <span>{{ field.errors }}</span>
				</li>
				{% endfor %}
			</ul>
		</fieldset>
		{% for formset_name, formset in formsets.items %}
		<fieldset>
			<legend>{{ formset_name }}</legend>
			{{ formset.management_form }}
			<table>
				<thead>
					<tr>
						{% with "anonymeyes/patient_form_"|add:formset_name|add:"_head.html"|lower as template %}
						{% include template %}
						{% endwith %}
					</tr>
				</thead>
				<tbody>
					{% for inlineform in formset %}
					<tr>
						{% with "anonymeyes/patient_form_"|add:formset_name|add:".html"|lower as template %}
						{% include template %}
						{% endwith %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>
		{% endfor %}
		<div class="actions clearfix">
			<ul>
				<li><input type="submit" value="Save" /></li>
				<li><a href="{% if patient.uuid %}{% url detail patient.id %}{% else %}{% url list %}{% endif %}">Cancel</a></li>
			</ul>
		</div>
	</form>
{% endblock %}
