{% extends "base.html" %}
{% block title %}View Dataset {{ patient.uuid }}{% endblock %}
{% block content %}
	<h1>View Dataset</h1>
	<div class="actions clearfix">
		<ul>
			<li><a href="{% url update patient.id %}">Update</a></li>
			<li><a href="{% url delete patient.id %}">Delete</a>
			<li><a href="#" class="print_page">Print</a>
		</ul>
	</div>
	<div class="data-section">
		<h2>Patient</h2>
		{% load qrcode %}
		<div class="qrcode">{{ patient_url|qrcode }}</div>
		<dl>
			<dt><span class="help"><span><strong>U</strong>niversally <strong>U</strong>nique <strong>ID</strong>entifier for this dataset. When
						printed and kept with patient notes, it allows the dataset to be
						matched up if followup data is entered.</span></span>UUID:</dt>
			<dd class="uuid">{{ patient.uuid }}</dd>
			<dt>Sex:</dt>
			<dd>{{ patient.get_sex_display }}</dd>
			<dt>DOB:</dt>
			<dd>{{ patient.dob }}</dd>
			<dt>Postcode Prefix:</dt>
			<dd>{{ patient.postcode }}</dd>
			<dt>Health Care Coverage:</dt>
			<dd>{{ patient.health_care }}</dd>
			<dt>Ethnic Group / Race:</dt>
			<dd>{{ patient.ethnic_group }}{% if patient.ethnic_group_comments %} ({{ patient.ethnic_group_comments }}){% endif %}</dd>
			<dt>Consanguinity:</dt>
			<dd>{{ patient.get_consanguinity_display }}</dd>
		</dl>
	</div>
	<div class="data-section">
		<h2>Baseline Assessment</h2>
		<dl>
			<dt>Date:</dt>
			<dd>{{ patient.visual_acuity_date }}</dd>
			<dt>Right Diagnosis:</dt>
			<dd>{{ patient.diagnosis_right.description }}</dd>
			<dt>Left Diagnosis:</dt>
			<dd>{{ patient.diagnosis_left.description }}</dd>
			{% if patient.comments %}
			<dt>Comments:</dt>
			<dd>{{ patient.comments }}</dd>
			{% endif %}
			<dt>Visual Acuity Method:</dt>
			<dd>{{ patient.visual_acuity_method }}</dd>
			<dt>RVA:</dt>
			<dd>{{ patient.visual_acuity_right }} ({{ patient.visual_acuity_correction_right }})</dd>
			<dt>LVA:</dt>
			<dd>{{ patient.visual_acuity_left }} ({{ patient.visual_acuity_correction_left }})</dd>
			<dt>BEO:</dt>
			<dd>{{ patient.visual_acuity_both }} ({{ patient.visual_acuity_correction_both }})</dd>
			<dt>Right IOP:</dt>
			<dd>{{ patient.iop_right }}</dd>
			<dt>Left IOP:</dt>
			<dd>{{ patient.iop_left }}</dd>
			<dt>Tonometry:</dt>
			<dd>{{ patient.tonometry }}</dd>
			<dt>EUA:</dt>
			<dd>{{ patient.eua }}</dd>
			<dt>Right Lens Status:</dt>
			<dd>{{ patient.lens_status_right }}
			{% if patient.lens_extraction_date_right %}
			(extracted {{ patient.lens_extraction_date_right }})
			{% endif %}</dd>
			<dt>Left Lens Status:</dt>
			<dd>{{ patient.lens_status_left }}
			{% if patient.lens_extraction_date_left %}
			(extracted {{ patient.lens_extraction_date_left }})
			{% endif %}</dd>
		</dl>
	</div>
	<div class="data-section">
		<h2>Management</h2>
		{% if patient.management_set.all %}
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Eye</th>
					<th colspan="2">Detail</th>
				</tr>
			</thead>
			<tbody>
				{% for management in patient.management_set.all %}
				<tr>
					<td>{{ management.date }}</td>
					<td>{{ management.type }}</td>
					<td>{{ management.eye }}</td>
					<td>
						{% if management.surgery %}{{ management.surgery }}
						{% if management.surgery_meta %}
						({{ management.surgery_meta }})
						{% endif %}
						{% endif %}
						{% if management.complication %}{{ management.complication }}{% endif %}
						{% if management.agents %}{{ management.get_agents_display }}{% endif %}
					</td>
					<td>{{ management.comments }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No management recorded</p>
		{% endif %}
	</div>
	<div class="data-section">
		<h2>Outcome</h2>
		{% if patient.outcome_set.all %}
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>IOP</th>
					<th>Visual Acuity</th>
				</tr>
			</thead>
			<tbody>
				{% for outcome in patient.outcome_set.all %}
				<tr>
					<td>{{ outcome.date }}</td>
					<td>
						<ul>
							<li>Control: {{ outcome.iop_control }}</li>
							<li>Tonometry: {{ outcome.tonometry }}</li>
							<li>Right: {{ outcome.iop_right }} mmHg,
								Left: {{ outcome.iop_left }} mmHg</li>
							<li>EUA: {{ outcome.eua }}</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Method: {{ outcome.visual_acuity_method }}</li>
							<li>RVA: {{ outcome.visual_acuity_right }} ({{ outcome.visual_acuity_correction_right }})</li>
							<li>LVA: {{ outcome.visual_acuity_left }} ({{ outcome.visual_acuity_correction_left }})</li>
							<li>BEO: {{ outcome.visual_acuity_both }} ({{ outcome.visual_acuity_correction_both }})</li>
						</ul>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No outcomes recorded</p>
		{% endif %}
	</div>
	<div class="actions clearfix">
		<ul>
			<li><a href="{% url update patient.id %}">Update</a></li>
			<li><a href="{% url delete patient.id %}">Delete</a>
			<li><a href="#" class="print_page">Print</a>
		</ul>
	</div>
{% endblock %}
