{% extends "base.html" %}
{% block title %}View Dataset {{ patient.uuid }}{% endblock %}
{% block content %}
	<h1>View Dataset</h1>
	<div class="actions clearfix">
		<ul>
			<li><a href="{% url update patient.id %}">Update</a></li>
			<li><a href="{% url delete patient.id %}">Delete</a>
		</ul>
	</div>
	<div class="data-section">
		<h2>Patient</h2>
		<dl>
			<dt><span class="help"><span><strong>U</strong>niversally <strong>U</strong>nique <strong>ID</strong>entifier for this dataset. When
						printed and kept with patient notes, it allows the dataset to be
						matched up if followup data is entered.</span></span>UUID:</dt>
			<dd>{{ patient.uuid }}</dd>
			<dt>Sex:</dt>
			<dd>{{ patient.get_sex_display }}</dd>
			<dt>DOB:</dt>
			<dd>{{ patient.dob }}</dd>
			<dt>Postcode Prefix:</dt>
			<dd>{{ patient.postcode }}</dd>
			<dt>Health Care Coverage:</dt>
			<dd>{{ patient.health_care }}</dd>
			<dt>Ethnic Group:</dt>
			<dd>{{ patient.ethnic_group }}</dd>
			<dt>Consanguinity:</dt>
			<dd>{{ patient.get_consanguinity_display }}</dd>
		</dl>
	</div>
	<div class="data-section">
		<h2>Baseline Assessment</h2>
		<dl>
			<dt>Date:</dt>
			<dd>{{ patient.visual_acuity_date }}</dd>
			<dt>Right Diagnosis:</dt>
			<dd>{{ patient.diagnosis_right }}</dd>
			<dt>Left Diagnosis:</dt>
			<dd>{{ patient.diagnosis_left }}</dd>
			<dt>Visual Acuity Method:</dt>
			<dd>{{ patient.visual_acuity_method }}</dd>
			<dt>RVA:</dt>
			<dd>{{ patient.visual_acuity_right }}</dd>
			<dt>LVA:</dt>
			<dd>{{ patient.visual_acuity_left }}</dd>
			<dt>BEO:</dt>
			<dd>{{ patient.visual_acuity_both }}</dd>
			<dt>Right IOP:</dt>
			<dd>{{ patient.iop_right }}</dd>
			<dt>Left IOP:</dt>
			<dd>{{ patient.iop_left }}</dd>
			<dt>Tonometry:</dt>
			<dd>{{ patient.tonometry }}</dd>
			<dt>EUA:</dt>
			<dd>{{ patient.get_eua_display }}</dd>
			{% if patient.eua = patient.YES %}
			<dt>Anaesthesia:</dt>
			<dd>{{ patient.anaesthesia }}</dd>
			{% endif %}
			<dt>Right Lens Status:</dt>
			<dd>{{ patient.lens_status_right }}</dd>
			{% if patient.lens_extraction_date_right %}
			<dt>Right Lens Extraction Date:</dt>
			<dd>{{ patient.lens_extraction_date_right }}</dd>
			{% endif %}
			<dt>Left Lens Status:</dt>
			<dd>{{ patient.lens_status_left }}</dd>
			{% if patient.lens_extraction_date_left %}
			<dt>Left Lens Extraction Date:</dt>
			<dd>{{ patient.lens_extraction_date_left }}</dd>
			{% endif %}
		</dl>
	</div>
	<div class="data-section">
		<h2>Management</h2>
		{% if patient.management_set.all %}
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Eye</th>
					<th>Detail</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				{% for management in patient.management_set.all %}
				<tr>
					<td>{{ management.date }}</td>
					<td>{{ management.type }}</td>
					<td>{{ management.eye }}</td>
					<td>
						{% if management.surgery %}{{ management.surgery }}
						{% if management.adjuvant %}, Adjuvant: {{ management.adjuvant }}{% endif%}
						{% if management.adjuvant %}, Stage: {{ management.surgery_stage }}{% endif%}
						{% endif%}
						{% if management.complication %}{{ management.complication }}{% endif%}
					</td>
					<td>{{ management.comments }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No management recorded</p>
		{% endif %}
	</div>
	<div class="data-section">
		<h2>Outcome</h2>
		{% if patient.outcome_set.all %}
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Eye</th>
					<th>IOP Control</th>
					<th>VA Method</th>
					<th>RVA</th>
					<th>LVA</th>
					<th>BEO</th>
				</tr>
			</thead>
			<tbody>
				{% for outcome in patient.outcome_set.all %}
				<tr>
					<td>{{ outcome.date }}</td>
					<td>{{ outcome.eye }}</td>
					<td>{{ outcome.iop_control }}</td>
					<td>{{ outcome.visual_acuity_method }}</td>
					<td>{{ outcome.visual_acuity_right }}</td>
					<td>{{ outcome.visual_acuity_left }}</td>
					<td>{{ outcome.visual_acuity_both }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No outcomes recorded</p>
		{% endif %}
	</div>
	<div class="actions clearfix">
		<ul>
			<li><a href="{% url update patient.id %}">Update</a></li>
			<li><a href="{% url delete patient.id %}">Delete</a>
		</ul>
	</div>
{% endblock %}
