{% extends "base.html" %}
{% block nav-list %}
<li class="active"><a href="{% url list %}"><strong>Manage</strong> Datasets</a></li>
{% endblock %}
{% block title %}Manage Datasets{% endblock %}
{% block content %}
<h1>Manage Datasets</h1>
<table id="datasets">
	<thead>
		<tr>
			<th><abbr title="Universally Unique IDentifier">UUID</abbr></th>
			<th>Sex</th>
			<th>DOB</th>
			<th>Location</th>
			<th>Created</th>
			<th>Last Updated</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for patient in patients %}
		<tr>
			<td><a href="{% url detail patient.id %}">{{ patient.uuid }}</a></td>
			<td>{{ patient.get_sex_display }}</td>
			<td><span title="{{ patient.dob|date:'U' }}">{{ patient.dob }}</span></td>
			<td>{{ patient.country }}, {{ patient.postcode }}</td>
			<td><span title="{{ patient.created_at|date:'U' }}">{{ patient.created_at }}</span></td>
			<td><span title="{{ patient.updated_at|date:'U' }}">{{ patient.updated_at }}</span></td>
			<td class="row_actions">
				<a href="{% url update patient.id %}" class="update" title="Update"><span>Update</span></a>
				<a href="{% url delete patient.id %}" class="delete" title="Delete"><span>Delete</span></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th><input type="text" class="search_uuid search_init" name="search_uuid" value="" /></th>
			<th><input type="text" class="search_sex search_init" name="search_sex" value="" /></th>
			<th><input type="text" class="search_dob search_init" name="search_dob" value="" /></th>
			<th><input type="text" class="search_postcode search_init" name="search_postcode" value="" /></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>
{% endblock %}
