<td class="outcome_date">
	{{ inlineform.date }}
	<span>{{ inlineform.date.errors }}</span>
</td>
<td class="outcome_iop">
	<ul>
		<li><span class="required">Right</span>:
			{{ inlineform.iop_right }} mmHg <span>{{ inlineform.iop_right.errors }}</span>,
			{{ inlineform.iop_control_right }} <span>{{ inlineform.iop_control_right.errors }}</span>
		</li>
		<li>
			<div class="iopagents">{{ inlineform.iop_agents_right }}</div>
			<span>{{ inlineform.iop_agents_right.errors }}</span>
		</li>
		<li><span class="required">Left</span>:
			{{ inlineform.iop_left }}mmHg <span>{{ inlineform.iop_left.errors }}</span>,
			{{ inlineform.iop_control_left }} <span>{{ inlineform.iop_control_left.errors }}</span>
		</li>
		<li>
			<div class="iopagents">{{ inlineform.iop_agents_left }}</div>
			<span>{{ inlineform.iop_agents_left.errors }}</span>
		</li>
		<li><span class="required">Tonometry</span>: {{ inlineform.tonometry }}
			<span>{{ inlineform.tonometry.errors }}</span></li>
		<li><span class="required">EUA</span>: {{ inlineform.eua }}
			<span>{{ inlineform.eua.errors }}</span></li>
	</ul>
</td>
<td class="outcome_visual_acuity">
	<ul>
		<li><span class="required">Method</span>: {{ inlineform.visual_acuity_method }}
			<span class="visualacuityscalewrapper">{{ inlineform.visual_acuity_scale }}</span>
			<span>{{ inlineform.visual_acuity_method.errors }}{{ inlineform.visual_acuity_scale.errors }}</span></li>
		<li><span class="required">RVA</span>: {{ inlineform.visual_acuity_right }} <span class="correctionwrapper">{{ inlineform.visual_acuity_correction_right }}</span>
			<span>{{ inlineform.visual_acuity_right.errors }}{{ inlineform.visual_acuity_correction_right.errors }}</span></li>
		<li><span class="required">LVA</span>: {{ inlineform.visual_acuity_left }} <span class="correctionwrapper">{{ inlineform.visual_acuity_correction_left }}</span>
			<span>{{ inlineform.visual_acuity_left.errors }}{{ inlineform.visual_acuity_correction_left.errors }}</span></li>
		<li><span class="required">Both Eyes Open</span>: {{ inlineform.visual_acuity_both }} <span class="correctionwrapper both">{{ inlineform.visual_acuity_correction_both }}</span>
			<span>{{ inlineform.visual_acuity_both.errors }}{{ inlineform.visual_acuity_correction_both.errors }}</span></li>
		<li class="fixationwrapper"><span class="required">Fixation Preference</span>: {{ inlineform.visual_acuity_fixation_preference }}
			<span>{{ inlineform.visual_acuity_fixation_preference.errors }}</span></li>
	</ul>
	{% for hidden in inlineform.hidden_fields %}{{ hidden }}{% endfor %}
</td>
{% if formset.can_delete %}
<td class="outcome_delete">
	{{ inlineform.DELETE }}
	<span>{{ inlineform.DELETE.errors }}</span>
</td>
{% endif %}
