<th class="required"><span>{{ formset.form.date.label }}</span></th>
<th class="required"><span>{{ formset.form.eye.label }}</span></th>
<th class="required"><span>{{ formset.form.iop_control.label }}</span></th>
<th class="required"><span>{{ formset.form.visual_acuity_method.label }}</span></th>
<th class="required"><span>{{ formset.form.visual_acuity_right.label }}</span></th>
<th class="required"><span>{{ formset.form.visual_acuity_left.label }}</span></th>
<th class="required"><span>{{ formset.form.visual_acuity_both.label }}</span></th>
{% if formset.can_delete %}
<th>Delete?</th>
{% endif %}
