@page {
	margin: 20mm;
}

.wrapper { width: auto; }

a[href]:after { content: none; }
abbr[title]:after { content: none; }

nav,
.user,
.actions { display: none; }

.header-container { padding-top: 0; }
.header-container .logo a { padding-left: 0; }
.header-container .logo { padding: 0; font-size: 16px; }

h1 { font-size: 20px; }